<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <div id="app">
      <input type="text" v-model="textoDigitado"
      v-on:keyup.enter="alterarNome('Michel')" />
      
      <ul>
        <li v-for="item in array"
        style="background: white"
        @click="alerta($event)">

          {{item}}
        </li>
      </ul>

    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
          textoDigitado: "",
          array: []
      },
      methods: {
        alterarNome(nome){
          this.array.push(this.textoDigitado);
          this.textoDigitado = nome;
        },
        alerta(event){
          element = event.target;
          if (element.style.background == 'white') {
            event.target.style = "background: red";
          }else{
            event.target.style = "background: white";
          }
         
        }
      },

      });
    </script>
  </body>
</html>
